.main {
    margin-top: 12%;
}
.gform{
    width: 30%;
    height: 50px;
    border-color: gray;
    margin-bottom: 2%;
    padding-left: 3%;
}

.gform:hover{
    box-shadow: 0 0 3px grey;
}

.searchbtn {
    background-color: #F8F9FA;
    border-style: none;
}

.inputform i{
    position: absolute;
}

.icon {
    padding: 15px;
    min-width: 50px;
    color: grey;
}

.glogo span{
    position: absolute;
}
.glogotext{
    padding-top:70px;
    padding-left: 220px;
    color: #4285F3;
}

.advancednav {
    background-color: #f8f9fa;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: bold;
    color: grey;
}

.l-text {
    font-size: 0.9rem;
}

.r-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.example-text{
    font-size: 0.7rem;
    font-weight: 300;
}

.form-row select{
    background-color: #F2F2F2;
}

.footer {
    background-color: #F2F2F2;
}
